{
  "openapi": "3.0.3",
  "info": {
    "title": "Bundl Native Checkout with AI Recommendations",
    "description": "API specs on how to use Bundl AI's native checkout and AI Recommendation engine to enable a powerful checkout experience in your platform.",
    "termsOfService": "",
    "contact": {
      "email": "krusherks@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about spec",
    "url": ""
  },
  "servers": [
    {
      "url": "https://app.bundl.ai/api/v1",
      "description": ""
    }
  ],
  "tags": [
    {
      "name": "Checkout",
      "description": ""
    }
  ],
  "paths": {
    "/createcart": {
      "post": {
        "description": "Create a checkout cart",
        "operationId": "post-api-v1-createcart",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "example-0001": {
                    "value": {
                      "id": "gid://shopify/Checkout/e03d65427bade8828d9d5b6f460389e4?key=abf0140b69397b6e301cf327926e27e6",
                      "url": "https://fb4e0e-3.myshopify.com/64172327109/checkouts/e03d65427bade8828d9d5b6f460389e4?key=abf0140b69397b6e301cf327926e27e6"
                    }
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "format": "uri",
                      "type": "string"
                    }
                  },
                  "title": "APIV1CreatecartPostResponse",
                  "type": "object"
                }
              }
            },
            "description": "Cart created"
          }
        },
        "summary": "Create Checkout Cart",
        "tags": [
          "Checkout"
        ]
      }
    },
    "/addtocart": {
      "post": {
        "description": "Add products to cart",
        "operationId": "post-api-v1-addtocart",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "example-0001": {
                  "value": {
                    "checkoutId": "gid://shopify/Checkout/e03d65427bade8828d9d5b6f460389e4?key=abf0140b69397b6e301cf327926e27e6",
                    "quantity": 1,
                    "variantId": "gid://shopify/ProductVariant/42726527697093"
                  }
                }
              },
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "checkoutId": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "integer"
                  },
                  "variantId": {
                    "type": "string"
                  }
                },
                "title": "APIV1AddtocartPostRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "example-0001": {
                    "value": {
                      "data": {
                        "checkoutLineItemsAdd": {
                          "checkout": {
                            "id": "gid://shopify/Checkout/e03d65427bade8828d9d5b6f460389e4?key=abf0140b69397b6e301cf327926e27e6",
                            "paymentDueV2": {
                              "amount": "83.66",
                              "currencyCode": "USD"
                            },
                            "subtotalPriceV2": {
                              "amount": "83.66",
                              "currencyCode": "USD"
                            },
                            "totalTaxV2": {
                              "amount": "0.0",
                              "currencyCode": "USD"
                            },
                            "webUrl": "https://fb4e0e-3.myshopify.com/64172327109/checkouts/e03d65427bade8828d9d5b6f460389e4?key=abf0140b69397b6e301cf327926e27e6"
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "additionalProperties": false,
                      "properties": {
                        "checkoutLineItemsAdd": {
                          "additionalProperties": false,
                          "properties": {
                            "checkout": {
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "paymentDueV2": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "amount": {
                                      "type": "string"
                                    },
                                    "currencyCode": {
                                      "type": "string"
                                    }
                                  },
                                  "title": "V2",
                                  "type": "object"
                                },
                                "subtotalPriceV2": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "amount": {
                                      "type": "string"
                                    },
                                    "currencyCode": {
                                      "type": "string"
                                    }
                                  },
                                  "title": "V2",
                                  "type": "object"
                                },
                                "totalTaxV2": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "amount": {
                                      "type": "string"
                                    },
                                    "currencyCode": {
                                      "type": "string"
                                    }
                                  },
                                  "title": "V2",
                                  "type": "object"
                                },
                                "webUrl": {
                                  "format": "uri",
                                  "type": "string"
                                }
                              },
                              "title": "Checkout",
                              "type": "object"
                            }
                          },
                          "title": "CheckoutLineItemsAdd",
                          "type": "object"
                        }
                      },
                      "title": "Data",
                      "type": "object"
                    }
                  },
                  "title": "APIV1AddtocartPostResponse",
                  "type": "object"
                }
              }
            },
            "description": "Product Added to Cart"
          }
        },
        "summary": "Add Product to Cart",
        "tags": [
          "Checkout"
        ]
      }
    },
    "/getskus": {
      "post": {
        "description": "AI recommendation of SKUs",
        "operationId": "post-api-v1-getskus",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "example-0001": {
                  "value": {
                    "input": "nyc trip"
                  }
                }
              },
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "input": {
                    "type": "string"
                  }
                },
                "title": "APIV1GetskusPostRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "example-0001": {
                    "value": {
                      "result": [
                        {
                          "content": "{\"id\":7619820585157,\"title\":\"Multifunction Smart laptop Backpack For Travelling Bag pack Laptop Travel Backpack Bag For Men\",\"body_html\":\"<div data-host=\\\"33447920\\\" data-magic-global=\\\"%7B%22bizId%22%3A2200559122222%2C%22pageId%22%3A21250317197%2C%22siteId%22%3A5005159269%7D\\\" data-id=\\\"detail_decorate_root\\\" id=\\\"detail_decorate_root\\\">\\n <style>#detail_decorate_root .magic-0{border-bottom-style:solid;border-bottom-color:#53647a;font-family:Roboto;font-size:24px;color:#53647a;font-style:normal;border-bottom-width:2px;padding-top:8px;padding-bottom:4px}#detail_decorate_root .magic-1{width:750px;border-collapse:collapse}#detail_decorate_root .magic-2{min-height:28px;padding:5px 10px;width:259px;min-height:18px;box-sizing:content-box}#detail_decorate_root .magic-3{min-height:28px;padding:5px 10px;width:442px;min-height:18px;box-sizing:content-box}#detail_decorate_root .magic-4{margin-bottom:10px;line-height:0}#detail_decorate_root .magic-5{margin-bottom:0}#detail_decorate_root .magic-6{position:relative;width:100%}#detail_decorate_root .magic-7{width:750px}#detail_decorate_root .magic-8{overflow:hidden;width:750px;height:1409.0625px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-9{margin-top:0;margin-left:0;width:750px;height:1409.0625px}#detail_decorate_root .magic-10{overflow:hidden;width:750px;height:1056.5625px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-11{margin-top:0;margin-left:0;width:750px;height:1056.5625px}#detail_decorate_root .magic-12{vertical-align:top}#detail_decorate_root .magic-13{vertical-align:top;display:block;padding-right:4px;box-sizing:border-box;padding-left:4px}#detail_decorate_root .magic-14{vertical-align:top;padding-bottom:4px;box-sizing:border-box;padding-top:4px}#detail_decorate_root .magic-15{padding:0;margin:0;white-space:pre-wrap;font-size:14px}#detail_decorate_root .magic-16{margin-bottom:10px;overflow:hidden}</style> \\n <div module-id=\\\"34022538266\\\" module-title=\\\"detailProductNavigation\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div id=\\\"ali-anchor-AliMagic-0ha235\\\" data-section=\\\"AliMagic-0ha235\\\" data-section-title=\\\"Specification\\\" class=\\\"magic-0\\\">\\n   Specification\\n  </div>\\n </div> \\n <div module-id=\\\"34022538267\\\" module-title=\\\"detailTableHorizontal\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"ife-detail-decorate-table\\\">\\n   <table class=\\\"has-title all magic-1\\\">\\n    <tbody>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-2\\\">\\n        Brand Name\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-3\\\">\\n        MOYYI\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-2\\\">\\n        Model Number\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-3\\\">\\n        5657\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-2\\\">\\n        Product name\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-3\\\">\\n        Duffle Backpack, Outdoor Backpack\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-2\\\">\\n        Size\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-3\\\">\\n        30*20*44CM\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-2\\\">\\n        Function\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-3\\\">\\n        1.With Shoe compartment\\n        <div data-spm-anchor-id=\\\"a2700.pc-decorate.0.i10.45a53333ezX9w7\\\">\\n         2.laptop compartment\\n        </div>\\n        <div data-spm-anchor-id=\\\"a2700.pc-decorate.0.i10.45a53333ezX9w7\\\">\\n         3.Multiple pockets\\n        </div>\\n        <div data-spm-anchor-id=\\\"a2700.pc-decorate.0.i10.45a53333ezX9w7\\\">\\n         4.Anti-theft compartment\\n        </div>\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-2\\\">\\n        Logo\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-3\\\">\\n        Accept Customized Logo\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-2\\\">\\n        Weight\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-3\\\">\\n        1kg\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-2\\\">\\n        Usage scenarios\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-3\\\">\\n        Outdoor Travel Weekender Bag\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-2\\\">\\n        Certificate\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-3\\\">\\n        ISO9001/BSCI\\n       </div>\\n</td>\\n     </tr>\\n    </tbody>\\n   </table>\\n  </div>\\n </div> \\n <div module-id=\\\"34022538268\\\" module-title=\\\"detailProductNavigation\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div id=\\\"ali-anchor-AliMagic-hdq5mg\\\" data-section=\\\"AliMagic-hdq5mg\\\" data-section-title=\\\"Product Description\\\" class=\\\"magic-0\\\">\\n   Product Description\\n  </div>\\n </div> \\n <div module-id=\\\"34022538269\\\" module-title=\\\"detailManyImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-detailManyImage magic-4\\\" data-module-name=\\\"icbu-pc-detailManyImage\\\">\\n   <div class=\\\"magic-5\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H2223ff02f1614cb7a8919051bc3345c5r/235655001/H2223ff02f1614cb7a8919051bc3345c5r.png\\\" class=\\\"magic-6\\\">\\n   </div>\\n   <div class=\\\"magic-5\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H8bd0abba095943de9c4c8589228aeed2Z/235655001/H8bd0abba095943de9c4c8589228aeed2Z.png\\\" class=\\\"magic-6\\\">\\n   </div>\\n   <div class=\\\"magic-5\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H84b02f5a3e7c4126948d42283865ce9a3/235655001/H84b02f5a3e7c4126948d42283865ce9a3.png\\\" class=\\\"magic-6\\\">\\n   </div>\\n   <div class=\\\"magic-5\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H436960c3b5b24d1aa6628f92f592cb17s/235655001/H436960c3b5b24d1aa6628f92f592cb17s.png\\\" class=\\\"magic-6\\\">\\n   </div>\\n   <div class=\\\"magic-5\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H41340e0b413042d796be6abb6bbf13f6Z/235655001/H41340e0b413042d796be6abb6bbf13f6Z.png\\\" class=\\\"magic-6\\\">\\n   </div>\\n   <div class=\\\"magic-5\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/Hc6b4498a49194f41ae868a4c70c08bfd8/235655001/Hc6b4498a49194f41ae868a4c70c08bfd8.png\\\" class=\\\"magic-6\\\">\\n   </div>\\n   <div class=\\\"magic-5\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/Ha7546e1c2e034f0a8d123eb1866a4b9bS/235655001/Ha7546e1c2e034f0a8d123eb1866a4b9bS.png\\\" class=\\\"magic-6\\\">\\n   </div>\\n   <div class=\\\"magic-5\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H701e27aecc434d5b9707b81de254638a9/235655001/H701e27aecc434d5b9707b81de254638a9.png\\\" class=\\\"magic-6\\\">\\n   </div>\\n   <div class=\\\"magic-5\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H6673c6589ecd4710bef15d9d03936bf3B/235655001/H6673c6589ecd4710bef15d9d03936bf3B.png\\\" class=\\\"magic-6\\\">\\n   </div>\\n   <div class=\\\"magic-5\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H8cf4cce85e83470f98e726a79a449197k/235655001/H8cf4cce85e83470f98e726a79a449197k.png\\\" class=\\\"magic-6\\\">\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"34372386785\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-7\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-7\\\">\\n      <div class=\\\"magic-8\\\">\\n       <img src=\\\"//sc04.alicdn.com/kf/H5725e2aa0f994b73a737cfd0fdc07c62R/235655001/H5725e2aa0f994b73a737cfd0fdc07c62R.png\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-9\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"34372386786\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-7\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-7\\\">\\n      <div class=\\\"magic-10\\\">\\n       <img src=\\\"//sc04.alicdn.com/kf/H4397d4e8a4d74f60b699faac7656c036t/235655001/H4397d4e8a4d74f60b699faac7656c036t.png\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-11\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"34022538273\\\" module-title=\\\"detailProductNavigation\\\" render=\\\"true\\\" class=\\\"J_module\\\"></div>  \\n <div module-id=\\\"34022538275\\\" module-title=\\\"detailProductNavigation\\\" render=\\\"true\\\" class=\\\"J_module\\\"></div>   \\n <div module-id=\\\"34022538278\\\" module-title=\\\"detailProductNavigation\\\" render=\\\"true\\\" class=\\\"J_module\\\"></div>  \\n</div>\",\"vendor\":\"Lucy Bot\",\"product_type\":\"\",\"created_at\":\"2024-01-17T10:25:28-08:00\",\"handle\":\"multifunction-smart-laptop-backpack-for-travelling-bag-pack-laptop-travel-backpack-bag-for-men\",\"updated_at\":\"2024-01-17T10:55:38-08:00\",\"published_at\":\"2024-01-17T10:25:28-08:00\",\"template_suffix\":null,\"published_scope\":\"global\",\"tags\":\"\",\"status\":\"active\",\"admin_graphql_api_id\":\"gid://shopify/Product/7619820585157\",\"variants\":[{\"id\":42726527697093,\"product_id\":7619820585157,\"title\":\"5657-Grey\",\"price\":\"83.66\",\"sku\":\"193267356018267_485218670\",\"position\":1,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"5657-Grey\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:30-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895735591109,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818555011269,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726527697093\"},{\"id\":42726527729861,\"product_id\":7619820585157,\"title\":\"5657-White\",\"price\":\"83.66\",\"sku\":\"193267356018267_485218671\",\"position\":2,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"5657-White\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:30-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895735623877,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818555044037,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726527729861\"},{\"id\":42726527762629,\"product_id\":7619820585157,\"title\":\"5657-Khaki\",\"price\":\"83.66\",\"sku\":\"193267356018267_485218672\",\"position\":3,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"5657-Khaki\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:29-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895735656645,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818555076805,\"inventory_quantity\":9998,\"old_inventory_quantity\":9998,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726527762629\"},{\"id\":42726527795397,\"product_id\":7619820585157,\"title\":\"5657-Green\",\"price\":\"83.66\",\"sku\":\"193267356018267_485218669\",\"position\":4,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"5657-Green\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:30-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895735689413,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818555109573,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726527795397\"}],\"options\":[{\"id\":9699732488389,\"product_id\":7619820585157,\"name\":\"Color\",\"position\":1,\"values\":[\"5657-Grey\",\"5657-White\",\"5657-Khaki\",\"5657-Green\"]}],\"images\":[{\"id\":33895735558341,\"alt\":\"Hfc56e634db6a441cb57ffc7a9e02369bY.jpg\",\"position\":1,\"product_id\":7619820585157,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:29-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895735558341\",\"width\":1000,\"height\":1000,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/Hfc56e634db6a441cb57ffc7a9e02369bY.webp?v=1705515929\",\"variant_ids\":[]},{\"id\":33895735591109,\"alt\":\"H6056cee6c0b8487eab5577b9011f586fs.jpg\",\"position\":2,\"product_id\":7619820585157,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:29-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895735591109\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H6056cee6c0b8487eab5577b9011f586fs.webp?v=1705515929\",\"variant_ids\":[42726527697093]},{\"id\":33895735623877,\"alt\":\"H384cc645aa594161a9639e1058d5102c3.jpg\",\"position\":3,\"product_id\":7619820585157,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:29-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895735623877\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H384cc645aa594161a9639e1058d5102c3.webp?v=1705515929\",\"variant_ids\":[42726527729861]},{\"id\":33895735656645,\"alt\":\"H7461d77671cd4fa9a5b4502cf0457472P.jpg\",\"position\":4,\"product_id\":7619820585157,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:29-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895735656645\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H7461d77671cd4fa9a5b4502cf0457472P.webp?v=1705515929\",\"variant_ids\":[42726527762629]},{\"id\":33895735689413,\"alt\":\"H08e7f4e12a92486493cb4f971b5dea9aa.jpg\",\"position\":5,\"product_id\":7619820585157,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:29-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895735689413\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H08e7f4e12a92486493cb4f971b5dea9aa.webp?v=1705515929\",\"variant_ids\":[42726527795397]},{\"id\":33895735722181,\"alt\":\"He013381d875b4673997ef533f35cc674v.png\",\"position\":6,\"product_id\":7619820585157,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:29-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895735722181\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/He013381d875b4673997ef533f35cc674v.webp?v=1705515929\",\"variant_ids\":[]},{\"id\":33895735754949,\"alt\":\"Hc514e1a5a61548e6b911cddd5a829254d.png\",\"position\":7,\"product_id\":7619820585157,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:29-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895735754949\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/Hc514e1a5a61548e6b911cddd5a829254d.webp?v=1705515929\",\"variant_ids\":[]},{\"id\":33895735787717,\"alt\":\"H4bf2fbcae59346c1b1f8ffb0f4dbd658E.png\",\"position\":8,\"product_id\":7619820585157,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:29-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895735787717\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H4bf2fbcae59346c1b1f8ffb0f4dbd658E.webp?v=1705515929\",\"variant_ids\":[]},{\"id\":33895735853253,\"alt\":\"H24dfa73b920d48fea0627151b2a09f97l.png\",\"position\":9,\"product_id\":7619820585157,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:29-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895735853253\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H24dfa73b920d48fea0627151b2a09f97l.webp?v=1705515929\",\"variant_ids\":[]},{\"id\":33895735886021,\"alt\":\"H07129ed625f440e59cee7cfb3e9a1b47D.png\",\"position\":10,\"product_id\":7619820585157,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:29-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895735886021\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H07129ed625f440e59cee7cfb3e9a1b47D.webp?v=1705515929\",\"variant_ids\":[]}],\"image\":{\"id\":33895735558341,\"alt\":\"Hfc56e634db6a441cb57ffc7a9e02369bY.jpg\",\"position\":1,\"product_id\":7619820585157,\"created_at\":\"2024-01-17T10:25:29-08:00\",\"updated_at\":\"2024-01-17T10:25:29-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895735558341\",\"width\":1000,\"height\":1000,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/Hfc56e634db6a441cb57ffc7a9e02369bY.webp?v=1705515929\",\"variant_ids\":[]}}",
                          "score": 0.6641747951507568
                        },
                        {
                          "content": "{\"id\":7619838345413,\"title\":\"MOYYI high quality personalised teen laptop waterproof leather backpacks manufacturer best backpack for college students men\",\"body_html\":\"<div data-host=\\\"33414560\\\" data-magic-global=\\\"%7B%22bizId%22%3A2200559122222%2C%22pageId%22%3A5032859873%2C%22siteId%22%3A5005159269%7D\\\" data-id=\\\"detail_decorate_root\\\" id=\\\"detail_decorate_root\\\">\\n <style>#detail_decorate_root .magic-0{border-bottom-style:none;border-bottom-color:#fff;font-family:Roboto;font-size:24px;color:#fff;background-color:#000;text-align:center;font-style:normal;border-bottom-width:2px;padding-top:8px;padding-bottom:4px}#detail_decorate_root .magic-1{width:750px}#detail_decorate_root .magic-2{overflow:hidden;width:750px;height:313px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-3{margin-top:0;margin-left:0;width:750px;height:313px}#detail_decorate_root .magic-4{overflow:hidden;width:750px;height:100px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-5{margin-top:0;margin-left:0;width:750px;height:100px}#detail_decorate_root .magic-6{vertical-align:top}#detail_decorate_root .magic-7{vertical-align:top;display:block;padding-right:4px;box-sizing:border-box;padding-left:4px}#detail_decorate_root .magic-8{vertical-align:top;padding-bottom:4px;box-sizing:border-box;padding-top:4px}#detail_decorate_root .magic-9{padding:0;margin:0;white-space:pre-wrap;font-size:14px}#detail_decorate_root .magic-10{text-align:center}#detail_decorate_root .magic-12{background-color:#000;font-size:12px}#detail_decorate_root .magic-13{background-color:#000;font-size:28px}#detail_decorate_root .magic-14{background-color:#000;font-size:32px}#detail_decorate_root .magic-15{font-size:12px}#detail_decorate_root .magic-16{font-size:20px}#detail_decorate_root .magic-17{font-size:20px;background-color:#fb003b}#detail_decorate_root .magic-18{color:#2196ed;background-color:#fff}#detail_decorate_root .magic-19{background-color:#2196ed}#detail_decorate_root .magic-20{background-color:#55b60b}#detail_decorate_root .magic-21{color:#50b405}#detail_decorate_root .magic-22{background-color:#ff7300}#detail_decorate_root .magic-23{background-color:#23a193}#detail_decorate_root .magic-24{background-color:#a158b3}#detail_decorate_root .magic-25{background-color:#ff79a2}#detail_decorate_root .magic-26{font-size:18px}#detail_decorate_root .magic-27{font-size:24px}#detail_decorate_root .magic-28{background-color:#000}#detail_decorate_root .magic-29{border:1px #000 dashed}#detail_decorate_root .magic-30{border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#53647a;background-color:#c5ccde;margin-left:0;margin-right:0;padding-left:8px;padding-right:8px;color:#53647a;font-family:Roboto;font-size:24px;padding-top:8px;padding-bottom:4px}#detail_decorate_root .magic-31{width:750px;border-collapse:collapse}#detail_decorate_root .magic-32{min-height:28px;padding:5px 10px;overflow:hidden;width:166px;box-sizing:content-box}#detail_decorate_root .magic-33{min-height:28px;padding:5px 10px;overflow:hidden;width:536px;box-sizing:content-box}#detail_decorate_root .magic-34{overflow:hidden;width:750px;height:1173px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-35{margin-top:0;margin-left:0;width:750px;height:1173px}#detail_decorate_root .magic-36{overflow:hidden;width:750px;height:1014.75px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-37{margin-top:0;margin-left:0;width:750px;height:1014.75px}#detail_decorate_root .magic-38{overflow:hidden;width:750px;height:1275.75px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-39{margin-top:0;margin-left:0;width:750px;height:1275.75px}#detail_decorate_root .magic-40{overflow:hidden;width:750px;height:1077px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-41{margin-top:0;margin-left:0;width:750px;height:1077px}#detail_decorate_root .magic-42{overflow:hidden;width:750px;height:1084.5px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-43{margin-top:0;margin-left:0;width:750px;height:1084.5px}#detail_decorate_root .magic-44{overflow:hidden;width:750px;height:909.75px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-45{margin-top:0;margin-left:0;width:750px;height:909.75px}#detail_decorate_root .magic-46{overflow:hidden;width:373px;height:321.7250673854448px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-47{margin-top:-63.33962264150944px;margin-left:0;width:373px;height:403px}#detail_decorate_root .magic-48{overflow:hidden;width:373px;height:321.7250673854448px;margin-top:0;margin-bottom:0;margin-left:4px;margin-right:0}#detail_decorate_root .magic-49{margin-top:-68.36657681940702px;margin-left:0;width:373px;height:389px}#detail_decorate_root .magic-50{border-bottom-style:none;border-bottom-color:#53647a;font-family:Roboto;font-size:24px;color:#fff;background-color:#000;text-align:center;font-style:normal;border-bottom-width:2px;padding-top:8px;padding-bottom:4px}#detail_decorate_root .magic-51{overflow:hidden;width:750px;height:660px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-52{margin-top:0;margin-left:0;width:750px;height:660px}#detail_decorate_root .magic-53{overflow:hidden;width:750px;height:39px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-54{margin-top:0;margin-left:0;width:750px;height:39px}#detail_decorate_root .magic-55{margin-bottom:10px;overflow:hidden}#detail_decorate_root .magic-56{overflow:hidden;width:750px;height:750px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-57{margin-top:0;margin-left:0;width:750px;height:750px}#detail_decorate_root .magic-58{overflow:hidden;width:750px;height:731px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-59{margin-top:0;margin-left:0;width:750px;height:731px}#detail_decorate_root .magic-60{overflow:hidden;width:750px;height:273px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-61{margin-top:0;margin-left:0;width:750px;height:273px}#detail_decorate_root .magic-62{overflow:hidden;width:750px;height:496.25px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-63{margin-top:0;margin-left:0;width:750px;height:496.25px}#detail_decorate_root .magic-64{margin-bottom:10px;line-height:0}#detail_decorate_root .magic-65{margin-bottom:0}#detail_decorate_root .magic-66{position:relative;width:100%}#detail_decorate_root .magic-67{overflow:hidden;width:750px;height:41px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-68{margin-top:0;margin-left:0;width:750px;height:41px}#detail_decorate_root .magic-69{font-size:16px}#detail_decorate_root .magic-70{background-color:#7a90b2}</style> \\n <div module-id=\\\"31402737435\\\" module-title=\\\"detailProductNavigation\\\" render=\\\"true\\\" class=\\\"J_module\\\"></div>      \\n <div module-id=\\\"6300891613\\\" module-title=\\\"detailProductNavigation\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div id=\\\"ali-anchor-AliMagic-q3zu9t\\\" data-section=\\\"AliMagic-q3zu9t\\\" data-section-title=\\\"Product Description\\\" class=\\\"magic-30\\\">\\n   Product Description\\n  </div>\\n </div> \\n <div module-id=\\\"6300891614\\\" module-title=\\\"detailTableHightLight\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"ife-detail-decorate-table\\\">\\n   <table class=\\\"all magic-31\\\">\\n    <tbody>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-32\\\">\\n        <b>Brand:</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-33\\\">\\n        MOYYI\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-32\\\">\\n        <b>Code:</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-33\\\">\\n        6077\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-32\\\">\\n        <b>Material:</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-33\\\">\\n        High quality PU\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-32\\\">\\n        <b>Size:</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-33\\\">\\n        31*17*41CM, Can fit 14inch laptop.\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-32\\\">\\n        <b>Weight:</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-33\\\">\\n        0.95kg\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-32\\\">\\n        <b>Feature:</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-33\\\">\\n        ★Waterproof\\n        <div>\\n         ★Computer compartment\\n         <br>\\n        </div>\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-32\\\">\\n        <b>Quality:</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-33\\\">\\n        High quality and competitive price.\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-32\\\">\\n        <b>Delivery Time:</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-33\\\">\\n        For stock within 3 days .for OEM/ODM within 5-10 days.\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-32\\\">\\n        <b>MOQ:</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-33\\\">\\n        STOCK≥1 Pieces, OEM/ODM≥300 Pieces.\\n       </div>\\n</td>\\n     </tr>\\n    </tbody>\\n   </table>\\n  </div>\\n </div> \\n <div module-id=\\\"6300891615\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-1\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-1\\\">\\n      <div class=\\\"magic-34\\\">\\n       <img src=\\\"//sc04.alicdn.com/kf/H7ef499935edc483ebfa4f9f7e578feadQ/235655001/H7ef499935edc483ebfa4f9f7e578feadQ.jpg\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-35\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"6300891616\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-1\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-1\\\">\\n      <div class=\\\"magic-36\\\">\\n       <img src=\\\"//sc04.alicdn.com/kf/H166c7d9942064b0887c9d3a17e1f4715b/235655001/H166c7d9942064b0887c9d3a17e1f4715b.jpg\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-37\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"6300891617\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-1\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-1\\\">\\n      <div class=\\\"magic-38\\\">\\n       <img src=\\\"https://sc02.alicdn.com/kf/HTB10JsGaUrrK1RkSne1q6ArVVXaK/235655001/HTB10JsGaUrrK1RkSne1q6ArVVXaK.jpg\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-39\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"6300891618\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-1\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-1\\\">\\n      <div class=\\\"magic-40\\\">\\n       <img src=\\\"https://sc01.alicdn.com/kf/HTB18N3MaPnuK1RkSmFPq6AuzFXaH/235655001/HTB18N3MaPnuK1RkSmFPq6AuzFXaH.jpg\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-41\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"6300891619\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-1\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-1\\\">\\n      <div class=\\\"magic-42\\\">\\n       <img src=\\\"https://sc02.alicdn.com/kf/HTB1gHQzaITxK1Rjy0Fgq6yovpXa4/235655001/HTB1gHQzaITxK1Rjy0Fgq6yovpXa4.jpg\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-43\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"6300891620\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-1\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-1\\\">\\n      <div class=\\\"magic-44\\\">\\n       <img src=\\\"https://sc01.alicdn.com/kf/HTB12nQFaLvsK1Rjy0Fiq6zwtXXak/235655001/HTB12nQFaLvsK1Rjy0Fiq6zwtXXak.jpg\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-45\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"6300891621\\\" module-title=\\\"detailTwoImages\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-1\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-1\\\">\\n      <div class=\\\"magic-46\\\">\\n       <img src=\\\"https://sc01.alicdn.com/kf/HTB17q.AaI_vK1Rjy0Foq6xIxVXaW/235655001/HTB17q.AaI_vK1Rjy0Foq6xIxVXaW.jpg\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-47\\\">\\n      </div>\\n      <div class=\\\"magic-48\\\">\\n       <img src=\\\"https://sc02.alicdn.com/kf/HTB14XIIaPDuK1Rjy1zjq6zraFXac/235655001/HTB14XIIaPDuK1Rjy1zjq6zraFXac.jpg\\\" data-id=\\\"child-image-1\\\" class=\\\"magic-49\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"31331524939\\\" module-title=\\\"detailProductNavigation\\\" render=\\\"true\\\" class=\\\"J_module\\\"></div>               \\n</div>\",\"vendor\":\"Lucy Bot\",\"product_type\":\"\",\"created_at\":\"2024-01-17T10:28:56-08:00\",\"handle\":\"moyyi-high-quality-personalised-teen-laptop-waterproof-leather-backpacks-manufacturer-best-backpack-for-college-students-men\",\"updated_at\":\"2024-01-17T10:55:38-08:00\",\"published_at\":\"2024-01-17T10:28:56-08:00\",\"template_suffix\":null,\"published_scope\":\"global\",\"tags\":\"\",\"status\":\"active\",\"admin_graphql_api_id\":\"gid://shopify/Product/7619838345413\",\"variants\":[{\"id\":42726547914949,\"product_id\":7619838345413,\"title\":\"6077-Black\",\"price\":\"56.46\",\"sku\":\"193828652018267_482155383\",\"position\":1,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"6077-Black\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:28:56-08:00\",\"updated_at\":\"2024-01-17T10:28:57-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895745880261,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818575229125,\"inventory_quantity\":99994,\"old_inventory_quantity\":99994,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726547914949\"}],\"options\":[{\"id\":9699750346949,\"product_id\":7619838345413,\"name\":\"Color\",\"position\":1,\"values\":[\"6077-Black\"]}],\"images\":[{\"id\":33895745847493,\"alt\":\"H2088e0f94e8e410f88f27a673a870350b.jpg\",\"position\":1,\"product_id\":7619838345413,\"created_at\":\"2024-01-17T10:28:56-08:00\",\"updated_at\":\"2024-01-17T10:28:56-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895745847493\",\"width\":3421,\"height\":3540,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H2088e0f94e8e410f88f27a673a870350b.webp?v=1705516136\",\"variant_ids\":[]},{\"id\":33895745880261,\"alt\":\"H6f1b2871d943454b8cf828c5aa575b79P.jpg\",\"position\":2,\"product_id\":7619838345413,\"created_at\":\"2024-01-17T10:28:56-08:00\",\"updated_at\":\"2024-01-17T10:28:56-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895745880261\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H6f1b2871d943454b8cf828c5aa575b79P.webp?v=1705516136\",\"variant_ids\":[42726547914949]},{\"id\":33895745913029,\"alt\":\"Hb4bb6e7a392c41deb448503ca0daa3cb0.jpg\",\"position\":3,\"product_id\":7619838345413,\"created_at\":\"2024-01-17T10:28:56-08:00\",\"updated_at\":\"2024-01-17T10:28:56-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895745913029\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/Hb4bb6e7a392c41deb448503ca0daa3cb0.webp?v=1705516136\",\"variant_ids\":[]},{\"id\":33895745945797,\"alt\":\"H9395e36bbe0e4392b007abc956519d8cX.jpg\",\"position\":4,\"product_id\":7619838345413,\"created_at\":\"2024-01-17T10:28:56-08:00\",\"updated_at\":\"2024-01-17T10:28:56-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895745945797\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H9395e36bbe0e4392b007abc956519d8cX.webp?v=1705516136\",\"variant_ids\":[]},{\"id\":33895745978565,\"alt\":\"H4446d9d5e1bf42e785122b33775e19a73.jpg\",\"position\":5,\"product_id\":7619838345413,\"created_at\":\"2024-01-17T10:28:56-08:00\",\"updated_at\":\"2024-01-17T10:28:56-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895745978565\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H4446d9d5e1bf42e785122b33775e19a73.webp?v=1705516136\",\"variant_ids\":[]},{\"id\":33895746011333,\"alt\":\"H4492eb8a14ce4986b6316f2780026d31G.jpg\",\"position\":6,\"product_id\":7619838345413,\"created_at\":\"2024-01-17T10:28:56-08:00\",\"updated_at\":\"2024-01-17T10:28:56-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895746011333\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H4492eb8a14ce4986b6316f2780026d31G.webp?v=1705516136\",\"variant_ids\":[]},{\"id\":33895746044101,\"alt\":\"H30539c0645724845aabd37c4c89d9f68G.jpg\",\"position\":7,\"product_id\":7619838345413,\"created_at\":\"2024-01-17T10:28:56-08:00\",\"updated_at\":\"2024-01-17T10:28:56-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895746044101\",\"width\":800,\"height\":800,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H30539c0645724845aabd37c4c89d9f68G.webp?v=1705516136\",\"variant_ids\":[]}],\"image\":{\"id\":33895745847493,\"alt\":\"H2088e0f94e8e410f88f27a673a870350b.jpg\",\"position\":1,\"product_id\":7619838345413,\"created_at\":\"2024-01-17T10:28:56-08:00\",\"updated_at\":\"2024-01-17T10:28:56-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895745847493\",\"width\":3421,\"height\":3540,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H2088e0f94e8e410f88f27a673a870350b.webp?v=1705516136\",\"variant_ids\":[]}}",
                          "score": 0.6615784168243408
                        },
                        {
                          "content": "{\"id\":7619854598341,\"title\":\"OEM PULUZ Factory Outdoor Portable Waterproof Scratch-proof Backpack Handheld Stabilizer Camera Bag with Rain Cover for DJI D\",\"body_html\":\"<div data-host=\\\"111115485\\\" data-magic-global=\\\"%7B%22bizId%22%3A2209797500742%2C%22pageId%22%3A20037630693%2C%22siteId%22%3A10002073106%7D\\\" data-id=\\\"detail_decorate_root\\\" id=\\\"detail_decorate_root\\\">\\n <style>#detail_decorate_root .magic-0{border-bottom-style:solid;border-bottom-color:#2196ed;font-family:Roboto;font-size:20px;color:#fff;background-color:#2196ed;font-style:normal;font-weight:bold;border-bottom-width:2px;padding-top:8px;padding-bottom:4px}#detail_decorate_root .magic-1{vertical-align:top}#detail_decorate_root .magic-2{vertical-align:top;display:block;padding-right:4px;box-sizing:border-box;padding-left:4px}#detail_decorate_root .magic-3{vertical-align:top;padding-bottom:4px;box-sizing:border-box;padding-top:4px}#detail_decorate_root .magic-4{padding:0;margin:0;white-space:pre-wrap;font-size:14px}#detail_decorate_root .magic-5{font-size:16px}#detail_decorate_root .magic-6{width:750px;border-collapse:collapse}#detail_decorate_root .magic-7{min-height:18px;padding:5px 10px;width:125px;min-height:18px;box-sizing:content-box}#detail_decorate_root .magic-8{text-align:center}#detail_decorate_root .magic-9{min-height:18px;padding:5px 10px;width:152px;min-height:18px;box-sizing:content-box}#detail_decorate_root .magic-10{min-height:18px;padding:5px 10px;width:331px;min-height:18px;box-sizing:content-box}#detail_decorate_root .magic-11{display:none}#detail_decorate_root .magic-12{min-height:18px;padding:5px 10px;width:126px;min-height:18px;box-sizing:content-box}#detail_decorate_root .magic-13{margin-bottom:10px;line-height:0}#detail_decorate_root .magic-14{margin-bottom:0}#detail_decorate_root .magic-15{position:relative;width:100%}#detail_decorate_root .magic-16{margin-bottom:10px;overflow:hidden}#detail_decorate_root .magic-17{width:750px}#detail_decorate_root .magic-18{overflow:hidden;width:247.33333333333334px;height:164.8888888888889px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-19{margin-top:0;margin-left:0;width:247px;height:164px}#detail_decorate_root .magic-20{overflow:hidden;width:247.33333333333334px;height:164.22132253711203px;margin-top:0;margin-bottom:0;margin-left:4px;margin-right:0}#detail_decorate_root .magic-21{margin-top:0;margin-left:0;width:344px;height:164px}#detail_decorate_root .magic-22{margin-top:-42.056680161943326px;margin-left:-4.005398110661269px;width:247px;height:241px}#detail_decorate_root .magic-23{font-size:12px}</style> \\n <div module-id=\\\"21204419890\\\" module-title=\\\"detailProductNavigation\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div id=\\\"ali-anchor-AliMagic-tc392r\\\" data-section=\\\"AliMagic-tc392r\\\" data-section-title=\\\"Products Description\\\" class=\\\"magic-0\\\">\\n   Products Description\\n  </div>\\n </div> \\n <div module-id=\\\"21204419891\\\" module-title=\\\"detailTextContent\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"detail-decorate-json-renderer-container\\\">\\n   <div class=\\\"magic-1\\\">\\n    <div class=\\\"magic-2\\\">\\n     <div class=\\\"magic-3\\\">\\n      <div class=\\\"magic-4\\\">\\n       <div>\\n        <span><b><font class=\\\"magic-5\\\"><span>PULUZ Outdoor Portable Waterproof Scratch-proof Dual Shoulders Backpack Handheld PTZ Stabilizer Camera Bag with Rain Cover for DJI Ronin-SC / Ronin-S(Black)</span></font></b><br><span>1. Professional superior storage case to meet your sports needs to hold your personal effects.<br>2. Comfortable soft handle and soft shoulder straps will make you feel comfortable even in the longest journey.<br>3. Can load digital SLR camera body, as well as lens and 1-2 additional lens and accessories.<br>4. High quality wear resistant and waterproof material, equipped with durable metal zip fastener, solid shoulder harness, you can carry it with you to do some sports or have a journey freely.<br>5. The main pocket equips with a variety of sub bags: Camera bag, notebook bag, iPad case, phone case, magazine or cloth case, sunglasses or small objects case, independent water bottle bag, etc.<br>6. With headphone hole design, can connect the phone which in the bag through the hole to listen music or charge with the external power.<br>7. Large space, big capacity, wonderful outdoor sports travelling partner to contain your 15.6 inch notebook, camera, cloth,<br>foods, water bottle, small dinnerware, magazine, tablet, mobile phones, sunglasses, folding umbrella, kleenex, sanitary towel, lipstick and other cosmetics.</span></span>\\n       </div>\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"21204419892\\\" module-title=\\\"detailTableNoTitle\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"ife-detail-decorate-table\\\">\\n   <table class=\\\"all magic-6\\\">\\n    <tbody>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"4\\\">\\n       <div class=\\\"magic-7\\\">\\n        <div data-spm-anchor-id=\\\"a2700.pc-decorate.0.i31.7056333324jBEL\\\" class=\\\"magic-8\\\">\\n         <br>\\n        </div>\\n        <div data-spm-anchor-id=\\\"a2700.pc-decorate.0.i31.7056333324jBEL\\\" class=\\\"magic-8\\\">\\n         <br>\\n        </div>\\n        <div data-spm-anchor-id=\\\"a2700.pc-decorate.0.i31.7056333324jBEL\\\" class=\\\"magic-8\\\">\\n         <br>\\n        </div>\\n        <div data-spm-anchor-id=\\\"a2700.pc-decorate.0.i31.7056333324jBEL\\\" class=\\\"magic-8\\\">\\n         Package Weight\\n        </div>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-9\\\">\\n        One Package Weight\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-10\\\">\\n        0.93kgs / 2.06lb\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td rowspan=\\\"0\\\" class=\\\"magic-11\\\">\\n       <div class=\\\"magic-12\\\"></div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-9\\\">\\n        Qty per Carton\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-10\\\">\\n        10\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td rowspan=\\\"0\\\" class=\\\"magic-11\\\">\\n       <div class=\\\"magic-12\\\"></div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-9\\\">\\n        Carton Weight\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-10\\\">\\n        11.00kgs / 24.25lb\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td rowspan=\\\"0\\\" class=\\\"magic-11\\\">\\n       <div class=\\\"magic-12\\\"></div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-9\\\">\\n        Carton Size\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-10\\\">\\n        57cm * 48cm * 56cm / 22.44inch * 18.9inch * 22.05inch\\n       </div>\\n</td>\\n     </tr>\\n    </tbody>\\n   </table>\\n  </div>\\n </div> \\n <div module-id=\\\"21204419893\\\" module-title=\\\"detailProductNavigation\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div id=\\\"ali-anchor-AliMagic-d5fwja\\\" data-section=\\\"AliMagic-d5fwja\\\" data-section-title=\\\"Details Images\\\" class=\\\"magic-0\\\">\\n   Details Images\\n  </div>\\n </div> \\n <div module-id=\\\"21204419894\\\" module-title=\\\"detailManyImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-detailManyImage magic-13\\\" data-module-name=\\\"icbu-pc-detailManyImage\\\">\\n   <div class=\\\"magic-14\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/Ha8cf24945ea74b1b952ea969504561dcm/247639238/Ha8cf24945ea74b1b952ea969504561dcm.jpg\\\" class=\\\"magic-15\\\">\\n   </div>\\n   <div class=\\\"magic-14\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H7b89feeb77d14bb09eed285c9965103cH/247639238/H7b89feeb77d14bb09eed285c9965103cH.jpg\\\" class=\\\"magic-15\\\">\\n   </div>\\n   <div class=\\\"magic-14\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H0efc595378e446278663bfb5ec17ceecI/247639238/H0efc595378e446278663bfb5ec17ceecI.jpg\\\" class=\\\"magic-15\\\">\\n   </div>\\n   <div class=\\\"magic-14\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H62384781a2eb4ceda9fe8cc2d794386eH/247639238/H62384781a2eb4ceda9fe8cc2d794386eH.jpg\\\" class=\\\"magic-15\\\">\\n   </div>\\n   <div class=\\\"magic-14\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H60aa07eed038460786bd2832e0ed9529B/247639238/H60aa07eed038460786bd2832e0ed9529B.jpg\\\" class=\\\"magic-15\\\">\\n   </div>\\n   <div class=\\\"magic-14\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H61de0168d8834b2da58d550074581ff93/247639238/H61de0168d8834b2da58d550074581ff93.jpg\\\" class=\\\"magic-15\\\">\\n   </div>\\n   <div class=\\\"magic-14\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H777ebfbdbf5d4166a72061924ecd6039J/247639238/H777ebfbdbf5d4166a72061924ecd6039J.jpg\\\" class=\\\"magic-15\\\">\\n   </div>\\n   <div class=\\\"magic-14\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H8ec1dd4fbb684095b30fe68562ce1b15S/247639238/H8ec1dd4fbb684095b30fe68562ce1b15S.jpg\\\" class=\\\"magic-15\\\">\\n   </div>\\n   <div class=\\\"magic-14\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/Hc2728e567b294030b726e3468cb143cc7/247639238/Hc2728e567b294030b726e3468cb143cc7.jpg\\\" class=\\\"magic-15\\\">\\n   </div>\\n   <div class=\\\"magic-14\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H5bfc560a12b24cfdb9c54501b351870d1/247639238/H5bfc560a12b24cfdb9c54501b351870d1.jpg\\\" class=\\\"magic-15\\\">\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"21204419895\\\" module-title=\\\"detailSellerRecommend\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div data-magic='{\\\"mds\\\":{\\\"assetsVersion\\\":\\\"0.0.14\\\",\\\"assetsPackageName\\\":\\\"icbumod\\\",\\\"moduleNameAlias\\\":\\\"icbu-pc-detailSellerRecommend\\\",\\\"moduleData\\\":{\\\"config\\\":{\\\"columnCount\\\":4,\\\"titleKey\\\":6,\\\"products\\\":[1600164310764,1600160317142,1600157436006,1600161399059,1600157334737,1600157905863,1600156073381,1600155712559,1600155740241,1600156991455,1600157228929,1600157530712]}}},\\\"version\\\":1}' class=\\\"icbu-pc-detailSellerRecommend magic-16\\\"></div>\\n </div> \\n <div module-id=\\\"21204419896\\\" module-title=\\\"detailProductNavigation\\\" render=\\\"true\\\" class=\\\"J_module\\\"></div>   \\n <div module-id=\\\"21204419899\\\" module-title=\\\"detailProductNavigation\\\" render=\\\"true\\\" class=\\\"J_module\\\"></div>  \\n</div>\",\"vendor\":\"Lucy Bot\",\"product_type\":\"\",\"created_at\":\"2024-01-17T10:32:20-08:00\",\"handle\":\"oem-puluz-factory-outdoor-portable-waterproof-scratch-proof-backpack-handheld-stabilizer-camera-bag-with-rain-cover-for-dji-d\",\"updated_at\":\"2024-01-17T10:55:39-08:00\",\"published_at\":\"2024-01-17T10:32:20-08:00\",\"template_suffix\":null,\"published_scope\":\"global\",\"tags\":\"\",\"status\":\"active\",\"admin_graphql_api_id\":\"gid://shopify/Product/7619854598341\",\"variants\":[{\"id\":42726571868357,\"product_id\":7619854598341,\"title\":\"Black / Polyester\",\"price\":\"73.77\",\"sku\":\"193828709018267_485172939\",\"position\":1,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Black\",\"option2\":\"Polyester\",\"option3\":null,\"created_at\":\"2024-01-17T10:32:20-08:00\",\"updated_at\":\"2024-01-17T10:32:20-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":null,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818599182533,\"inventory_quantity\":10000,\"old_inventory_quantity\":10000,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726571868357\"},{\"id\":42726571901125,\"product_id\":7619854598341,\"title\":\"Gray / Polyester\",\"price\":\"73.77\",\"sku\":\"193828709018267_485172940\",\"position\":2,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Gray\",\"option2\":\"Polyester\",\"option3\":null,\"created_at\":\"2024-01-17T10:32:20-08:00\",\"updated_at\":\"2024-01-17T10:32:20-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":null,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818599215301,\"inventory_quantity\":10000,\"old_inventory_quantity\":10000,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726571901125\"}],\"options\":[{\"id\":9699766862021,\"product_id\":7619854598341,\"name\":\"Color\",\"position\":1,\"values\":[\"Black\",\"Gray\"]},{\"id\":9699766894789,\"product_id\":7619854598341,\"name\":\"Material\",\"position\":2,\"values\":[\"Polyester\"]}],\"images\":[{\"id\":33895764558021,\"alt\":\"H78aee2eaf6e04ddc96b33a61fa75c8e1d.jpg\",\"position\":1,\"product_id\":7619854598341,\"created_at\":\"2024-01-17T10:32:20-08:00\",\"updated_at\":\"2024-01-17T10:32:20-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895764558021\",\"width\":750,\"height\":750,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H78aee2eaf6e04ddc96b33a61fa75c8e1d.webp?v=1705516340\",\"variant_ids\":[]},{\"id\":33895764590789,\"alt\":\"H347e8858d9634c2ea31bd0362598328f8.jpg\",\"position\":2,\"product_id\":7619854598341,\"created_at\":\"2024-01-17T10:32:20-08:00\",\"updated_at\":\"2024-01-17T10:32:20-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895764590789\",\"width\":750,\"height\":750,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H347e8858d9634c2ea31bd0362598328f8.webp?v=1705516340\",\"variant_ids\":[]},{\"id\":33895764623557,\"alt\":\"H760c07093fec48a18e15f4db499ac4eb4.jpg\",\"position\":3,\"product_id\":7619854598341,\"created_at\":\"2024-01-17T10:32:20-08:00\",\"updated_at\":\"2024-01-17T10:32:20-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895764623557\",\"width\":750,\"height\":750,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H760c07093fec48a18e15f4db499ac4eb4.webp?v=1705516340\",\"variant_ids\":[]},{\"id\":33895764656325,\"alt\":\"H2d611123cb56455a903d063e7f00dcc1k.jpg\",\"position\":4,\"product_id\":7619854598341,\"created_at\":\"2024-01-17T10:32:20-08:00\",\"updated_at\":\"2024-01-17T10:32:20-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895764656325\",\"width\":750,\"height\":750,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H2d611123cb56455a903d063e7f00dcc1k.webp?v=1705516340\",\"variant_ids\":[]},{\"id\":33895764689093,\"alt\":\"Hbddb540070f5439390efbedf012f91bbm.jpg\",\"position\":5,\"product_id\":7619854598341,\"created_at\":\"2024-01-17T10:32:20-08:00\",\"updated_at\":\"2024-01-17T10:32:20-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895764689093\",\"width\":750,\"height\":750,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/Hbddb540070f5439390efbedf012f91bbm.webp?v=1705516340\",\"variant_ids\":[]},{\"id\":33895764721861,\"alt\":\"Hdfdbe742bceb4638977f4463f383e924n.jpg\",\"position\":6,\"product_id\":7619854598341,\"created_at\":\"2024-01-17T10:32:20-08:00\",\"updated_at\":\"2024-01-17T10:32:20-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895764721861\",\"width\":750,\"height\":750,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/Hdfdbe742bceb4638977f4463f383e924n.webp?v=1705516340\",\"variant_ids\":[]}],\"image\":{\"id\":33895764558021,\"alt\":\"H78aee2eaf6e04ddc96b33a61fa75c8e1d.jpg\",\"position\":1,\"product_id\":7619854598341,\"created_at\":\"2024-01-17T10:32:20-08:00\",\"updated_at\":\"2024-01-17T10:32:20-08:00\",\"admin_graphql_api_id\":\"gid://shopify/ProductImage/33895764558021\",\"width\":750,\"height\":750,\"src\":\"https://cdn.shopify.com/s/files/1/0641/7232/7109/products/H78aee2eaf6e04ddc96b33a61fa75c8e1d.webp?v=1705516340\",\"variant_ids\":[]}}",
                          "score": 0.6531665921211243
                        },
                        {
                          "content": "{\"id\":7619849715909,\"title\":\"Unisex Mini Workout Shopping Bum Pouch Crossbody Bag Travel Causal  Waist Belt Funny Bag for Men Women with Adjustable Strap\",\"body_html\":\"<div data-host=\\\"336112211\\\" data-magic-global=\\\"%7B%22bizId%22%3A17180866654%2C%22pageId%22%3A21185926899%2C%22siteId%22%3A5005070391%7D\\\" data-id=\\\"detail_decorate_root\\\" id=\\\"detail_decorate_root\\\">\\n <style>#detail_decorate_root .magic-0{margin-bottom:10px;line-height:0}#detail_decorate_root .magic-1{margin-bottom:0}#detail_decorate_root .magic-2{position:relative;width:100%}#detail_decorate_root .magic-3{width:750px;border-collapse:collapse}#detail_decorate_root .magic-4{min-height:28px;padding:5px 10px;width:126px;min-height:28px;box-sizing:content-box}#detail_decorate_root .magic-5{min-height:28px;padding:5px 10px;width:580px;min-height:28px;box-sizing:content-box}#detail_decorate_root .magic-6{width:750px}#detail_decorate_root .magic-7{overflow:hidden;width:750px;height:860px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-8{margin-top:0;margin-left:0;width:750px;height:860px}#detail_decorate_root .magic-9{overflow:hidden;width:750px;height:1551.25px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-10{margin-top:0;margin-left:0;width:750px;height:1551.25px}#detail_decorate_root .magic-11{overflow:hidden;width:750px;height:1000px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-12{margin-top:0;margin-left:0;width:750px;height:1000px}#detail_decorate_root .magic-13{margin-bottom:10px;overflow:hidden}#detail_decorate_root .magic-14{overflow:hidden;width:750px;height:1283.5413416536662px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-15{margin-top:0;margin-left:0;width:750.0000000000001px;height:1283.5413416536662px}#detail_decorate_root .magic-16{overflow:hidden;width:750px;height:581.8965517241379px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-17{margin-top:0;margin-left:0;width:750px;height:581.8965517241379px}#detail_decorate_root .magic-18{overflow:hidden;width:750px;height:1026.875px;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0}#detail_decorate_root .magic-19{margin-top:0;margin-left:0;width:750px;height:1026.875px}</style> \\n <div module-id=\\\"32481301350\\\" module-title=\\\"detailManyImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-detailManyImage magic-0\\\" data-module-name=\\\"icbu-pc-detailManyImage\\\">\\n   <div class=\\\"magic-1\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H66a08b07895345679c2f5e8c9f0edd92D/997470/H66a08b07895345679c2f5e8c9f0edd92D.jpg\\\" class=\\\"magic-2\\\">\\n   </div>\\n   <div class=\\\"magic-1\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/H4fc18f94eb0b43bb91fd01782cf36db0r/997470/H4fc18f94eb0b43bb91fd01782cf36db0r.jpg\\\" class=\\\"magic-2\\\">\\n   </div>\\n   <div class=\\\"magic-1\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/Hae72f2ba2aeb475aa01006cd6b56e957x/997470/Hae72f2ba2aeb475aa01006cd6b56e957x.jpg\\\" class=\\\"magic-2\\\">\\n   </div>\\n   <div class=\\\"magic-1\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/Hf2e03ea5e478436ab933f211de0754d4d/997470/Hf2e03ea5e478436ab933f211de0754d4d.jpg\\\" class=\\\"magic-2\\\">\\n   </div>\\n   <div class=\\\"magic-1\\\">\\n    <img src=\\\"//sc04.alicdn.com/kf/Hdaae904ab35b452a920eefb75c458d01z/997470/Hdaae904ab35b452a920eefb75c458d01z.jpg\\\" class=\\\"magic-2\\\">\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"32481301349\\\" module-title=\\\"detailTableHightLight\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"ife-detail-decorate-table\\\">\\n   <table class=\\\"hight-light-first-column all magic-3\\\">\\n    <tbody>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Product Name</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        Wasit Bag\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Material</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        Nylon\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Size</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        20.5*5*14cm or Customized\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Lining</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        Customized\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Pocket </b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        Customized\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Handle</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        None\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Branding</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        embroidered / silk screen printed /digital printed/  transfer print / sublimation print / offset print / hot foil / embossed / debossed \\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Feature</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        1. Environmental-friendly \\n        <br>2. Durable\\n        <br>3. tear resistant\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Customized</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        OEM &amp; ODM are welcomed\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>MOQ</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        1 pcs by our standard color\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Sample time</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        5-7 days\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Delivery time</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        Normally35-40days after sample confirmed\\n        <br>Actually depend on certain order\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Packing Detail</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        1pcs in a poly bag, H L W cm\\n        <br>50pcs into a carton, GW\\n       </div>\\n</td>\\n     </tr>\\n     <tr>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-4\\\">\\n        <b>Shipping</b>\\n       </div>\\n</td>\\n      <td colspan=\\\"1\\\" rowspan=\\\"1\\\">\\n       <div class=\\\"magic-5\\\">\\n        1. FOB shanghai By air or sea\\n        <br>2. DAP by air or by sea\\n        <br>3. Express:FEDEX ,UPS ,DHL\\n       </div>\\n</td>\\n     </tr>\\n    </tbody>\\n   </table>\\n  </div>\\n </div> \\n <div module-id=\\\"32481301351\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-6\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-6\\\">\\n      <div class=\\\"magic-7\\\">\\n       <img src=\\\"//sc04.alicdn.com/kf/H1865d9ebada34071ae3d49f71927eeda6/997470/H1865d9ebada34071ae3d49f71927eeda6.jpg\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-8\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"32481301352\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-6\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-6\\\">\\n      <div class=\\\"magic-9\\\">\\n       <img src=\\\"//sc04.alicdn.com/kf/H3726bb056d944600a8328116ca90c7e94/997470/H3726bb056d944600a8328116ca90c7e94.jpg\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-10\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"32481301353\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-6\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-6\\\">\\n      <div class=\\\"magic-11\\\">\\n       <img src=\\\"//sc04.alicdn.com/kf/H24841f34a1d0493cb41933f086408615v/997470/H24841f34a1d0493cb41933f086408615v.jpg\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-12\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"32481301354\\\" module-title=\\\"detailVideoShow\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div data-magic='{\\\"mds\\\":{\\\"assetsVersion\\\":\\\"0.0.6\\\",\\\"assetsPackageName\\\":\\\"icbumod\\\",\\\"moduleNameAlias\\\":\\\"icbu-pc-detailVideoShow\\\",\\\"moduleData\\\":{\\\"videoInfo\\\":{\\\"coverUrl\\\":\\\"https://img.alicdn.com/imgextra/i2/6000000000517/O1CN01NA9oC11FgpU377UeK_!!6000000000517-0-tbvideo.jpg\\\",\\\"duration\\\":120,\\\"fileSize\\\":\\\"20209236\\\",\\\"videoName\\\":\\\"2021年金品视频.mp4\\\",\\\"videoId\\\":335146655035},\\\"hideBottom\\\":false,\\\"poster\\\":\\\"//sc02.alicdn.com/kf/H6fff65b9c4fd4d05badafd601d1a33e5Q.png\\\"}},\\\"version\\\":1}' class=\\\"icbu-pc-detailVideoShow magic-13\\\"></div>\\n </div> \\n <div module-id=\\\"32481301355\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-6\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-6\\\">\\n      <div class=\\\"magic-14\\\">\\n       <img src=\\\"//sc04.alicdn.com/kf/Hcb447dc43f53435b92db9bf860c97351m/997470/Hcb447dc43f53435b92db9bf860c97351m.jpg\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-15\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"32481301356\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-6\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-6\\\">\\n      <div class=\\\"magic-16\\\">\\n       <img src=\\\"//sc04.alicdn.com/kf/Hfc87b29ff29744d88594e6f0cf9e7671G/997470/Hfc87b29ff29744d88594e6f0cf9e7671G.png\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-17\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n <div module-id=\\\"32481301357\\\" module-title=\\\"detailSingleImage\\\" render=\\\"true\\\" class=\\\"J_module\\\">\\n  <div class=\\\"icbu-pc-images magic-6\\\">\\n   <div>\\n    <div class=\\\"flex-layout-v\\\">\\n     <div class=\\\"flex-layout-h magic-6\\\">\\n      <div class=\\\"magic-18\\\">\\n       <img src=\\\"//sc04.alicdn.com/kf/H12ac8ce614c8438e93846dc9884fe11fK/997470/H12ac8ce614c8438e93846dc9884fe11fK.jpg\\\" data-id=\\\"child-image-0\\\" class=\\\"magic-19\\\">\\n      </div>\\n     </div>\\n    </div>\\n   </div>\\n  </div>\\n </div> \\n</div>\",\"vendor\":\"Lucy Bot\",\"product_type\":\"\",\"created_at\":\"2024-01-17T10:31:20-08:00\",\"handle\":\"unisex-mini-workout-shopping-bum-pouch-crossbody-bag-travel-causal-waist-belt-funny-bag-for-men-women-with-adjustable-strap\",\"updated_at\":\"2024-01-17T10:55:39-08:00\",\"published_at\":\"2024-01-17T10:31:20-08:00\",\"template_suffix\":null,\"published_scope\":\"global\",\"tags\":\"\",\"status\":\"active\",\"admin_graphql_api_id\":\"gid://shopify/Product/7619849715909\",\"variants\":[{\"id\":42726564331717,\"product_id\":7619849715909,\"title\":\"Blue\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155326\",\"position\":1,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Blue\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:38-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760199877,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818591645893,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564331717\"},{\"id\":42726564364485,\"product_id\":7619849715909,\"title\":\"Brown\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155327\",\"position\":2,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Brown\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:36-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760265413,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818591678661,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564364485\"},{\"id\":42726564397253,\"product_id\":7619849715909,\"title\":\"Camogray\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155328\",\"position\":3,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Camogray\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:43-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760298181,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818591711429,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564397253\"},{\"id\":42726564430021,\"product_id\":7619849715909,\"title\":\"Ivory\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155329\",\"position\":4,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Ivory\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:26-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760330949,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818591744197,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564430021\"},{\"id\":42726564462789,\"product_id\":7619849715909,\"title\":\"Black\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155330\",\"position\":5,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Black\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:33-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760363717,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818591776965,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564462789\"},{\"id\":42726564495557,\"product_id\":7619849715909,\"title\":\"White\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155331\",\"position\":6,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"White\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:37-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760396485,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818591809733,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564495557\"},{\"id\":42726564528325,\"product_id\":7619849715909,\"title\":\"mint green\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155332\",\"position\":7,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"mint green\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:34-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760429253,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818591842501,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564528325\"},{\"id\":42726564561093,\"product_id\":7619849715909,\"title\":\"Maroon\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155333\",\"position\":8,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Maroon\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:35-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760462021,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818591875269,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564561093\"},{\"id\":42726564593861,\"product_id\":7619849715909,\"title\":\"Lavender purple\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155334\",\"position\":9,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Lavender purple\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:27-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760494789,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818591908037,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564593861\"},{\"id\":42726564626629,\"product_id\":7619849715909,\"title\":\"Oive\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155335\",\"position\":10,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Oive\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:31-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760527557,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818591940805,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564626629\"},{\"id\":42726564659397,\"product_id\":7619849715909,\"title\":\"Orange\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155336\",\"position\":11,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Orange\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:43-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760560325,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818591973573,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564659397\"},{\"id\":42726564692165,\"product_id\":7619849715909,\"title\":\"Wine\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155337\",\"position\":12,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Wine\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:37-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760593093,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592006341,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564692165\"},{\"id\":42726564724933,\"product_id\":7619849715909,\"title\":\"Pink\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155338\",\"position\":13,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Pink\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:32-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760625861,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592039109,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564724933\"},{\"id\":42726564757701,\"product_id\":7619849715909,\"title\":\"Lightgray\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155339\",\"position\":14,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Lightgray\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:38-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760658629,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592071877,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564757701\"},{\"id\":42726564790469,\"product_id\":7619849715909,\"title\":\"Navy\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155340\",\"position\":15,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Navy\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:23-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760691397,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592104645,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564790469\"},{\"id\":42726564823237,\"product_id\":7619849715909,\"title\":\"Navystone\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155341\",\"position\":16,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Navystone\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:35-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760724165,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592137413,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564823237\"},{\"id\":42726564856005,\"product_id\":7619849715909,\"title\":\"Neongreen\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155342\",\"position\":17,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"Neongreen\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:34-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760756933,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592170181,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564856005\"},{\"id\":42726564888773,\"product_id\":7619849715909,\"title\":\"50\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155343\",\"position\":18,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"50\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:33-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760789701,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592202949,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564888773\"},{\"id\":42726564921541,\"product_id\":7619849715909,\"title\":\"49\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155344\",\"position\":19,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"49\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:32-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760822469,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592235717,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564921541\"},{\"id\":42726564954309,\"product_id\":7619849715909,\"title\":\"48\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155345\",\"position\":20,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"48\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:25-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760855237,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592268485,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564954309\"},{\"id\":42726564987077,\"product_id\":7619849715909,\"title\":\"47\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155346\",\"position\":21,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"47\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:36-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760888005,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592301253,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726564987077\"},{\"id\":42726565019845,\"product_id\":7619849715909,\"title\":\"46\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155347\",\"position\":22,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"46\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:33-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760920773,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592334021,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726565019845\"},{\"id\":42726565052613,\"product_id\":7619849715909,\"title\":\"45\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155348\",\"position\":23,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"45\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:43-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760953541,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592366789,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726565052613\"},{\"id\":42726565085381,\"product_id\":7619849715909,\"title\":\"44\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155349\",\"position\":24,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"44\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:34-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895760986309,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592399557,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726565085381\"},{\"id\":42726565118149,\"product_id\":7619849715909,\"title\":\"43\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155350\",\"position\":25,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"43\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:42-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895761019077,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592432325,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726565118149\"},{\"id\":42726565150917,\"product_id\":7619849715909,\"title\":\"42\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155351\",\"position\":26,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"42\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:36-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895761051845,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592465093,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726565150917\"},{\"id\":42726565183685,\"product_id\":7619849715909,\"title\":\"41\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155352\",\"position\":27,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"41\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:44-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895761084613,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592497861,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726565183685\"},{\"id\":42726565216453,\"product_id\":7619849715909,\"title\":\"40\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155353\",\"position\":28,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"40\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:25-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895761150149,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592530629,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726565216453\"},{\"id\":42726565249221,\"product_id\":7619849715909,\"title\":\"39\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155354\",\"position\":29,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"39\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:24-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895761182917,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592563397,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726565249221\"},{\"id\":42726565281989,\"product_id\":7619849715909,\"title\":\"38\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155355\",\"position\":30,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"38\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:32-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895761215685,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592596165,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/42726565281989\"},{\"id\":42726565314757,\"product_id\":7619849715909,\"title\":\"37\",\"price\":\"28.54\",\"sku\":\"193828654018267_482155356\",\"position\":31,\"inventory_policy\":\"continue\",\"compare_at_price\":\"0.00\",\"fulfillment_service\":\"manual\",\"inventory_management\":\"shopify\",\"option1\":\"37\",\"option2\":null,\"option3\":null,\"created_at\":\"2024-01-17T10:31:21-08:00\",\"updated_at\":\"2024-01-17T10:31:32-08:00\",\"taxable\":true,\"barcode\":null,\"grams\":0,\"image_id\":33895761248453,\"weight\":0,\"weight_unit\":\"lb\",\"inventory_item_id\":44818592628933,\"inventory_quantity\":9999,\"old_inventory_quantity\":9999,\"requires_shipping\":true,\"admin_graphql_api_id\":\"gid://shopify/ProductVariant/427265653147
[...]
